[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
flask = "==2.2.5"

[dev-packages]

[requires]
python_version = "3.8"
